/* PostPage  */
.post-page {
	color: var(--text);
}

.post-page .post-title {
	font-size: 32px;
	line-height: 40px;
}

.post-page .content  {
	font-family: "Microsoft JhengHei fixed", "Helvetica Neue", "Microsoft JhengHei", Helvetica, "Segoe UI", Tahoma;
	font-style: normal;
}


.post-page .content > p,
.post-page .content > ul,
.post-page .content > ol,
.post-page .content > pre,
.post-page .content > blockquote,
.post-page .content > table,
.post-page .content > tr,
.post-page .content > td {
	letter-spacing: -0.003em;
	line-height: 1.7em;
	min-height: 1.7em;
	font-size: 18px;
	margin: 0 1.2rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	margin: 2.5rem 1.2rem 1rem;
	font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	letter-spacing: -0.003em;
	line-height: 2rem;
}

.content > h1 { font-size: 30px;}
.content > h2 { font-size: 28px;}
.content > h3 { font-size: 24px;}
.content > h4 { font-size: 20px;}
.content > h5 { font-size: 18px;}
.content > h6 { font-size: 16px;}

.content > blockquote {
	background-color: var(--second-bg);
	border-left: 5px solid var(--border);
	padding: 1rem 1rem 1rem 1rem;
	font-family: "Fira Mono", monospace;
	color: var(--text);
}

.content hr {
	margin: 2rem auto;
}

.content iframe {
	width: 100%;
	height: 300px;
	margin: 0 auto;
}

.content strong {
	color: var(--bold-text);
}


.content a {
	text-decoration: underline;
}

.content ol li {
	list-style: decimal;
	margin: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.content details {
	border-top: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
	padding: 1rem;
	transition: all .3s;
}

.content details summary{
	font-size: 24px;
}

.post-page .content > p {
	margin-top: 1.5rem;
	line-height: 1.7em;
	margin-bottom: 1rem;
	/* text-align: justify; */
}

.post-page .content li {
	margin-top: 1rem;
}

.post-page .content img {
	margin: 1.5rem auto;
}

.post-page .content ul {
	margin-top: .5rem;
	margin-bottom: 1rem;
}

.post-page .content ul li {
	list-style-type: disc;
	margin: 0.5rem 1.5rem 0.5rem 1.5rem;
}



@media screen and (min-width: 640px) {
}
