.site-footer {
    padding: 5rem 0 2.5rem;
}

.content-container {
    max-width: 692px;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .content-container {
        margin-left: 5rem;
    }
}