.content-container {
	width: 100%;
}


@media screen and (min-width: 720px) {
	.content-container {
		max-width: 720px;
	}

	.drawer-wrapper {
		width: 240px;
	}
	.drawer-container {
		width: 240px;
		border-left: 1px solid #ddd;
	}

}

@media screen and (min-width: 1280px) {
	.drawer-wrapper{
		width: 400px;
	}

	.drawer-container {
		width: 400px;
	}
}
