.content-container {
	width: 100%;
}

@media screen and (min-width: 720px) {
	.content-container {
		width: 720px;
	}

	.drawer-wrapper {
		width: 100%;
		border-left: 1px solid var(--border);
	}
	ˊ .drawer-container {
		width: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.content-container {
		width: 720px;
	}

	.drawer-wrapper {
		width: 300px;
	}

	.drawer-container {
		width: 300px;
	}
}

@media screen and (min-width: 1280px) {
	.content-container {
		width: 780px;
	}

	.drawer-wrapper {
		width: 300px;
	}

	.drawer-container {
		width: 300px;
	}
}
