.post-list .post-item {
	color: var(--text);
	border-bottom: 1px solid var(--border);
}

.post-list .post-title {
	font-size: 1rem;
	line-height: 1.5rem;
}

.post-list .post-item:last-child {
	border-bottom: none;
}

.post-list .post-item {
	border-bottom: 1px solid var(--border);
}

/* 
    sm: 640px  
    md: 768px 
    lg: 1024px 
*/
@media screen and (min-width: 640px) {
	.post-list .post-title {
		font-size: 22px;
		line-height: 28px;
	}

	.post-item .thumbnail-pic {
		width: 8rem;
		height: 8rem;
	}
}

.post-tag-list .post-tag-item {
	background-color: var(--tagitem-bg);
	border-radius: 0.8rem;
}

/* Journel */
.journel-list .group-name {
	font-size: 1.8rem;
	color: var(--navitem-hover);
	border-bottom: 2px solid var(--border)
}

.journel-list .page-item:nth-child(odd) {
	background-color: var(--odd-bg);
}


.journel-list .page-item:nth-child(even) {
	background-color: var(--even-bg);
}

/* hit-list content */

.hit-list .title {
	font-size: 1rem;

}

.hit-list em {
	font-size: large;
	font-style: normal;
	font-weight: 600;
}