/* PostList */
.post-list .post-item {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.post-list .post-title {
	font-size: 1rem;
	line-height: 1.5rem;
}

.post-list .post-item:last-child {
	border-bottom: none;
}

.post-item .thumbnail-pic {
	width: 4rem;
	height: 4rem;
}

/* 
    sm: 640px  
    md: 768px 
    lg: 1024px 
*/
@media screen and (min-width: 640px) {
	.post-list .post-title {
		font-size: 22px;
		line-height: 28px;
	}

	.post-item .thumbnail-pic {
		width: 8rem;
		height: 8rem;
	}
}

.post-tag-list .post-tag-item {
	background-color: #e8e8e8;
	border-radius: 0.8rem;
}

/* Journel */
.journel-list .group-name {
	font-size: 1.8rem;
	color: #333;
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.journel-list {
	margin: 0 1rem;
}

.journel-list .page-list {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.journel-list .page-item {
	padding: .5rem 1rem;
	border-radius: .2rem;
}

.journel-list .page-item:nth-child(odd) {
	background-color: #E9EFF5;
}


.journel-list .page-item:nth-child(even) {
	background-color: #d2e7fa;
}

.journel-list .page-item a:hover {
	padding-left: 1rem;
}