.tag-list .tag-list-head {
    font-weight: 600;
    background-color: #E9EEF5
}

.tag-list-item {
    font-size: 1.1rem;
}

.tag-list .tag-list-item:nth-child(even) {
    background-color: #FAFAFA;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}