@import './css/layout.css';
@import './css/nav.css';
@import './css/hamburger.css';
@import './css/list.css';
@import './css/tag.css';
@import './css/article.css';

.word-font {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.letter-title-font {
	font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.letter-content-font {
	font-family: charter, Georgia, Cambria, 'Times New Roman', Times, serif;
}

.raleway-font {
	font-family: Raleway, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
	Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
	Segoe UI Symbol, Noto Color Emoji;
}

.screenmask {
	background-color: #000;
	opacity: 0.6;
}
