@import "./css/layout.css";
@import "./css/nav.css";
@import "./css/hamburger.css";
@import "./css/list.css";
@import "./css/article.css";



.letter-title-font {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.letter-content-font {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif
}

.screenmask {
    background-color: #000;
    opacity: 0.6;
}
