@import './css/layout.css';
@import './css/nav.css';
@import './css/hamburger.css';
@import './css/list.css';
@import './css/tag.css';
@import './css/article.css';

body {
	transition: all .3s;
}

.light {
	background-color: #fff;
	--bg-color: #fff;
	--navbar: #fff;
	--border: rgba(0, 0, 0, 0.15);
	--navitem: #757575;
	--navitem-hover: #333;
	--navitem-active: #000;
	--tagitem-bg: #e8e8e8;
	--tagitem-hover: #9e9e9e;
	--mask-bg: #555;
	--odd-bg: #E9EFF5;
	--even-bg: #d2e7fa;
	--second-bg: #FAFAFA;
	--text: #3f3f3f;
}

.dark {
	background-color: #1e1e22;
	--bg-color: #1e1e22;
	--navbar: #2f333d;
	--border: rgba(175,175,175,0.15);
	--navitem: #757575;
	--navitem-hover: #e8e8e8;
	--navitem-active: #fff;
	--tagitem-bg: #525252;
	--tagitem-hover: #6c6c6c;
	--mask-bg: #555;
	--odd-bg: hsla(0,0%,58.8%,.1);
	--even-bg: #24272b;
	--second-bg: #282c35;
	--text: #9b9baa;
}


.word-font {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.letter-title-font {
	font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.letter-content-font {
	font-family: charter, Georgia, Cambria, 'Times New Roman', Times, serif;
}


.mono-font {
	font-family: "Fira Mono", monospace;
}

.raleway-font {
	font-family: Raleway, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
	Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
	Segoe UI Symbol, Noto Color Emoji;
}

.screenmask {
	background-color: var(--mask-bg);
	opacity: 0.6;
}
